.DogCardContainer {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    margin: 3% 1%;
    box-shadow: 0 0 20px black;
    font-family: 'Comfortaa', cursive;
    background-size: cover;
    background-position: top;
    position: relative;
    animation: showCards 1s ease normal;
}

@keyframes showCards {
    from {
        opacity: 0;
    }
}

.DogCardContainerClose {
    width: 400px;
    height: 350px;
    border-radius: 10px;
    margin: 3% 1%;
    box-shadow: 0 0 20px black;
    font-family: 'Comfortaa', cursive;
    background-size: cover;
    background-position: top;
    position: relative;
    animation: eraseCards 1s ease normal;
}

@keyframes eraseCards {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.DogCardContainer:hover .OverviewContainer {
    opacity: 1;
}

.OverviewContainer {
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    opacity: 0;
    transition: opacity 0.5s ease;
    line-height: 25px;
}

.OverviewContainer:hover {
    opacity: 1;
}

.OverviewContainer h2 {
    margin: 20px;
}

.OverviewContainer div {
    margin: 20px;
}

.OverviewContainer label {
    margin: 20px;
    padding: 0px;
}