.Order {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    font-family: 'Tinos', serif;
    font-size: 18px;
}

.Order label {
    margin-right: 10px;
}

.Order select {
    width: auto;
    height: 30px;
    background-color: #A1779B;
    color: #FFE8ED;
    border: none;
    font-family: 'Tinos', serif;
    font-size: 18px;
    position: relative;
    border-radius: 5px;
    padding: 5px;
}

.Order option {
    background-color: #A1779B;
    color: #FFE8ED;
    padding: 0px;
    margin: 0px;
}