.backgroundCreateDog {
    background-color: #7C99A3;
    max-width: 100vw;
    padding: 3vh 2vw;
}

.containerCreateDog {
    background-color: #AADDF0;
    max-width: 100%;
    min-height: 100vh;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerCreateDog {
    border-radius: 20px;
    width: 90%;
    height: 500px;
    margin: 20px;
    background-image: url('../../img/packDogs.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.headerCreateDog h1 {
    color: white;
    font-family: 'Alfa Slab One', 'cursive';
    font-size: 82px;
    margin: 50px ;
}

.contentCreateDog {
    border: medium solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Tinos', serif;
}

.formCreateDog {
    border: medium solid white;
    width: 50%;
    min-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    color: #7C99A3;
}

.formCreateDog h1 {
    align-self: center;
    font-family: 'Varela Round', sans-serif;
}

/* .CreateDog{
    background-color: #6d6875;
    color: white;
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 20px;
    margin: 30px;
    box-shadow: 0 0 20px black;
} */

.seccioName{
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: baseline;
}

.seccioName label{
    padding: 0px;
    height: 25px;
    width: 120px;
}

.seccioName div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccioName input {
    width: 300px;
}

.seccioName p{
    margin: 5px;
    width: 300px;
    text-align: center;
}

.seccioName button {
    margin: 10px;
    height: 40px;
    width: 60px;
}

.secciones{
    display: grid;
    grid-template-columns: 75px 150px 75px 150px;
    grid-template-rows: 25px 25px 25px;
    width: 100%;
    height: 80px;
    margin: 5px;
}

.secciones label{
    grid-column: 1/ span 4;
    margin: 0px;
    padding: 0px;
    height: 25px;
}

.secciones p {
    margin: 5px;
    grid-column: span 2;
    width: 176px;
    justify-self: end;
}

.secciones input{
    margin-right: 40px;
}

.secconImagen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secconImagen input{
    width: 450px;
}

.secconImagen label{
    height: 30px;
}

.secconImagen p{
    margin: 5px;
    text-align: center;
}

.seccionTemperamentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 175px;
    width: 100%;
}

.seccionTemperamentos label{
    width: 178px;
    height: 30px;
}

.seccionTemperamentosInputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    width: 232px;
}

.botonAddTemperament{
    background-color: #90be6d;
    border: 0px;
    height: 28px;
    width: 29px;
}

.botonCreateDog{
    width: 102px;
    height: 80px;
    background-color: #f2e9e4;
    border: 0px;
    background-image: url("https://www.pngkey.com/png/full/125-1252358_dog-icon.png");
    background-size: cover;
    border-radius: 10px;
    padding: 0px;
}

.botonCreateDog:hover{
    background-color: #9a8c98;
}

.divTemperamentoAnadido{
    background-color: #e56b6f;
    margin: 5px;
    
}

.botonCerrarTemperamento{
    background-color: #dc2f02;
    border: 0px;
    height: 28px;
}

.danger {
    font-size: 12px;
    color: #f94144;
    margin-left: 10px;
    text-align: left;
}

.CreateDog p{
    font-size: 12px;
    color: #f94144;
}

.warning {
    border: solid red 1px;
    border-radius: 0.2em;
}
