.backgroundCreateDog {
    background-color: #7C99A3;
    max-width: 100vw;
    padding: 3vh 2vw;
}

.containerCreateDog {
    background-color: #AADDF0;
    max-width: 100%;
    min-height: 100vh;
    padding: 40px;
    padding-top: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerCreateDog {
    border-radius: 20px;
    width: 90%;
    height: 500px;
    margin: 20px;
    background-image: url('../../img/packDogs.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    box-shadow: 10px 10px 5px #7C99A3;
}

.headerCreateDog h1 {
    color: white;
    font-family: 'Alfa Slab One', 'cursive';
    font-size: 82px;
    margin: 50px ;
}

.contentCreateDog {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Tinos', serif;
}

.formCreateDog {
    width: 50%;
    min-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 20px;
    color: #7C99A3;
}

.formCreateDog h1 {
    margin: 25px;
    font-family: 'Varela Round', sans-serif;
}

.formCreateDog label {
    font-family: 'Varela Round', sans-serif;
}

.seccioName{
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: baseline;
}

.seccioName label{
    padding: 0px;
    height: 25px;
    width: 120px;
}

.seccioName div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccioName input {
    width: 300px;
}

.seccioName p{
    margin: 5px;
    width: 300px;
    text-align: center;
}

.seccioName button {
    margin: 10px;
    height: 50px;
    width: 100px;
    background-color: #7C99A3;
    color: #AADDF0;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.seccioName button:hover {
    background-color: #AADDF0;
    color: #7C99A3;
    border: thin solid #7C99A3;
}

.secciones{
    display: flex;
    align-items: baseline;
}

.secciones label{
    margin: 0px;
    margin-left: 15px;
    padding: 0px;
    height: 25px;
    padding: 10px;
    width: 80px;
}

.secciones div {
    margin: 10px;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secciones input{
    width: 120px;
}

.secciones p {
    color: red;
    font-size: 14px;
    text-align: center;
}

.seccionImage {
    margin: 10px;
    display: flex;
    align-items: baseline;
}

.seccionImage label{
    height: 30px;
    width: 120px;
    padding: 0px;
}

.seccionImage div {
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccionImage input{
    width: 300px;
}

.seccionImage p{
    margin: 5px;
    text-align: center;
}

.seccionTemperamentos{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.seccionTemperamentos label{
    width: 178px;
    height: 30px;
    padding: 0px;
    margin-right: 20px;
}

.containerTemperamentsSecction {
    display: flex;
    align-items: baseline;
}

.containerTemperaments{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.botonAddTemperament{
    background-color: #90be6d;
    border: 0px;
    height: 28px;
    width: 29px;
}

.botonCreateDog{
    width: 102px;
    height: 80px;
    margin: 20px;
    background-color: #f2e9e4;
    border: 0px;
    background-image: url("https://www.pngkey.com/png/full/125-1252358_dog-icon.png");
    background-size: cover;
    border-radius: 10px;
    padding: 0px;
    align-self: center;
}

.botonCreateDog:hover{
    background-color: #9a8c98;
}

.divTemperamentoAnadido {
    background-color: #A1779B;
    color: #FFE8ED;
    margin: 3px 5px;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}

.divTemperamentoAnadido label {
    padding: 0px;
    margin: 0px 5px;
    height: 25px;
    display: inline;
}

.botonCerrarTemperamento{
    background-color: #AADDF0;
    border: 0px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

.danger {
    font-size: 12px;
    color: #f94144;
    margin-left: 10px;
    text-align: left;
}

.CreateDog p{
    font-size: 12px;
    color: #f94144;
}

.warning {
    border: solid red 1px;
    border-radius: 0.2em;
}

.detailDogCreateDog {
    width: 50%;
    padding: 20px;
    background-color: #7C99A3;
    color: #AADDF0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 5px 5px 15px #7C99A3;
}

.detailDogImageContainer {
    width: 100%;
    height: 500px;
    border-radius: 20px;
    background-image: url('../../img/defaultDog.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.containerData {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.containerData h1 {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-family: 'Varela Round', sans-serif;
    font-size: 32px;
}

.containerData div {
    width: 100%;
    display: flex;
    align-items: baseline;
}

.containerData label {
    font-size: 24px;
}

.containerData p {
    font-size: 21px;
    margin: 10px;
}