.ContenedorBotones {
    width: 80%;
    display: flex;
    justify-content: center;
}

.botonesDesplazamiento {
    margin: 0px 20px;
    padding: 5px;
    height:35px;
    width:50px;
    background-color: #64A36E;
    border: none;
    border-radius: 10px;
    outline: none;
    transition: background-color 0.3s ease;
}

.postionButtons {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buttonNumber {
    border: none;
    border-radius: 5px;
    background-color: #64A36E;
    width: 25px;
    transition: background-color 0.3s ease;
}

.currentPage {
    border: none;
    border-radius: 5px;
    background-color: #C2F0C9;
    width: 25px;
}

.threePointsOFF {
    visibility: hidden;
}

.ContenedorBotones button:hover {
    background-color: #C2F0C9;
}

.ContenedorBotones button {
    box-shadow: 5px 5px 15px #556970;
    font-family: 'Varela Round', sans-serif;
}