.Filter{
    min-width: 380px;
    max-width: 1000px;
    border-radius: 20px;
    margin: 20px;
    min-height: 160px;
    height: auto;
    padding: 10px;
    display: flex;
    box-shadow: 0px 5px 15px #556970;
    background-color: #FFE8ED;
    font-family: 'Tinos', serif;
    font-size: 18px;
    color: #A1779B;
}

.filterOptionsContainer {
    border-left: thin solid #A1779B;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 240px;

}

.filterOptionsContainer h1 {
    margin: 0px auto;
    font-family: 'Varela Round', sans-serif;
}

.containerName {
    display: flex;
    margin: 5px;
    padding: 5px;
    height: 40px;
}

.containerName label {
    margin-right: 10px;
}

.containerAllTemperaments {
    margin: 5px;
    padding: 5px;
    min-height: 40px;
    display: flex;
    align-items: baseline;
}

.containerTemperaments {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
}

.inputsFilterContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 375px;
    margin-right: 20px;
}

.inputsFilterContainer h1 {
    margin: 0px auto;
    font-family: 'Varela Round', sans-serif;
}

.addTemperament{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    padding: 5px;
    height: 40px;
}

.titleFilters{
    height: 20px;
    margin-right: 20px;
}

.filterForPlaceContainer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px;
    padding: 5px;
    width: 240px;
}

.filterForPlaceContainer label{
    height: 20px;
}

.selectFilterForLocation {
    width: 100px;
    margin-right: 10px;
    background-color: #A1779B;
    color: #FFE8ED;
    border: none;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}

.botonFiltrar{
    margin-bottom: 15px;
    height: 30px;
    border-radius: 5px;
    background-color: #4a4e69;
    color: #ede0d4;
    font-family: 'Comfortaa', cursive;
}

.botonFiltrar:hover{
    background-color: #f2e9e4;
    color: #4a4e69;
}

.botonAddTemperament{
    background-color: #90be6d;
    border: 0px;
    height: 30px;
}

.inputAddTemperament{
    width: 195px;
    height: 25px;
    font-size: 18px;
}

.filtradoTemperamentos{
    background-color: #A1779B;
    color: #FFE8ED;
    display: inline;
    margin: 3px 5px;
    padding: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filtradoTemperamentos label {
    padding: 0px;
    margin: 5px 10px;
}

.botonCancelarFiltrado{
    background-color: #AADDF0;
    border: 0px;
    outline: none;
    border-radius: 5px;
    padding: 5px;
}

.showFiltrado{
    margin-bottom: 20px;
}