.MainPage {
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    background-image: url('../../../public/img/mainPage.jpg');
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.verticalBar {
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(8px);
    width: 30vw;
    height: 100vh;
    margin: 0px;
    padding: 0px 50px;
    box-shadow: 50px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    color: rgba(242, 242, 235, 1);
}


.MainPage div h1:hover {
    text-decoration: underline #D9B29C;
    transition: text-decoration 1s ease;
}

.buttonMainPage {
    margin-bottom: 15px;
    height: 60px;
    width: 200px;
    border: medium solid #F2F2EB;
    border-radius: 5px;
    background-color: transparent;
    color: #F2F2EB;
    font-family: 'Seymour One', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.buttonMainPage:hover{
    background-color: #F2F2EB;
    color: #274001;
}

.buttonProve {
    background-color: green;
}

.nextSlide {
    animation: slide-left 1s ease-in forwards;
}

@keyframes slide-left {
    to {
        transform: translateX(-500vw);
    }
}