.DropdownMenu {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-height: 500px;
    color: black;
    overflow: auto;
    z-index: 5;
    min-width: 30px;
}

.DropdownMenu label {
    color: black;
    position: relative;
    border-radius: 0px;
}

.DropdownMenu label:hover {
    background-color: gold;
}

.inputAddTemperament{
    width: 195px;
    height: 30px;
    font-size: 18px;
}