.DropdownMenu {
    height: 40px;
    width: 235px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #A1779B;
    border-radius: 20px;
}

.dropDownMenuOptionsContainer {
    width: 185px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    z-index: 1;
    font-size: 18px;
}

.showList {
    display: flex;
    flex-direction: column;
    max-height: 150px;
}

.noShowList {
    display: none;
}

.labelOptions {    
    position: relative;
    border-radius: 0px;
    border-bottom: thin solid #FFE8ED;
    width: 160px;
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    text-align: left;
    background-color: #A1779B;
    color: #FFE8ED;
}

.labelOptions:hover {
    background-color: #F0ECAA;
    color: #A1779B;
}

.inputAddTemperament {
    position: static;
    width: 170px;
    min-height: 30px;
    padding: 5px 10px;
    font-size: 18px;
    background-color: #A1779B;
    color: #FFE8ED;
    border: none;
    /* border-bottom: thin solid #FFE8ED; */
}

.botonAddTemperament{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #90be6d;
    background-image: url('../../img/doneLogo.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    position: relative;
    z-index: 3;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.botonAddTemperament:hover {
    background-color: #C2F0C9;
    box-shadow: 0px 0px 20px #C2F0C9;
}