.Home{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.CardHandlerContainer {
    width: 250px;
    min-width: 250px;
    margin: 0px;
    padding: 10px;
    background-color: #D9B29C;
    font-family: 'Comfortaa', cursive;
    color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 20px black;
    position: fixed;
    z-index: 2;
    top: 25vh;
    left: -270px;
    transition: transform 1s ease;
}

.CardHandlerContainer:hover {
    transform: translateX(270px);
}

.DeployContainer {
    background-color: #D9B29C;
    position: absolute;
    top: 25%;
    left: 100%;
    border-radius: 0px;
    border-top-right-radius: 25%;
    border-bottom-right-radius: 25%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.renderDogs {
    position: relative;
    width: 100%;
}

.ContenedorBotones {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.botonesIzquierda{
    margin-left: 20px;
    margin-right: 20px;
    height:35px;
    width:35px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/545/545680.png");
    background-size: contain;
    background-color: #84a59d;
    border-radius: 5px;
    outline: none;
}

.botonesDerecha{
    margin-left: 20px;
    margin-right: 20px;
    height:35px;
    width:35px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/545/545682.png");
    background-size: cover;
    background-color: #84a59d;
    border-radius: 5px;
    outline: none;
}