.Nav {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    margin: 50px;
    padding: 10px;
    width: 35vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px black;
}

.links {
    height: 100%;
}

.imagen {
    width: 100px;
}

.label {
    background-image: "../../../img/home.png";
    width: 60px;
    height: 60px;
}

.buttonHome {
    height:50px;
    width:50px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/25/25694.png");
    background-size: cover;
    background-color: #edede9;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.buttonHome:hover {
    background-color: #9a8c98;;
}

.buttonDog {
    height:50px;
    width:50px;
    background-image: url("https://aux.iconspalace.com/uploads/dog-paw-icon-256.png");
    background-size: cover;
    background-color: #edede9;
    border-radius: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.buttonDog:hover{
    background-color: #9a8c98;
}