.Nav {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    margin: 50px;
    padding: 10px;
    width: 35vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px black;
}

.links {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.containerButton {
    height: 60px;
    width: 60px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    border: 3px solid white;
}

.links button {
    height:60px;
    width:60px;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-size: 38px 38px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    overflow: hidden;
}

.links img {
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
}

.buttonHome::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    z-index: 1;
    background-color: #F0C2CC;
    transition: transform 0.5s ease;
}

.buttonHome:hover::before {
    transform: scaleY(1);
    transform-origin: bottom left;    
}

.buttonHome::before {
    transform: scaleY(0);
    transform-origin: bottom left;    
}

.buttonDog::before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    z-index: 1;
    background-color: #AADDF0;
    transition: transform 0.5s ease;
}

.buttonDog:hover::before {
    transform: scaleY(1);
    transform-origin: bottom left;    
}

.buttonDog::before {
    transform: scaleY(0);
    transform-origin: bottom left;    
}