.backgroundMessage {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.containerMessage {
    width: 500px;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(240 , 236, 170, 1);
}

.messageInformation {
    margin: 15px;
}

.footer {
    width: 300px;
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}